<html>
  <head>
    <script src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
  </head>
          
  <body>
    <h1>FaceOff Test IFrame 2</h1>
    
    <iframe src="http://www.facebook.com/plugins/like.php?app_id=244374058939596&amp;href=google.com&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:21px;" allowTransparency="true"></iframe>

    <iframe src="http://www.facebook.com/plugins/like.php?app_id=244374058939596&amp;href=google.com&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:21px;" allowTransparency="true"></iframe>
  </body>
</html>
