<html>
  <head>
    <!-- hmm. If this script is loaded before the facebook sdk, the sdk for some reason also loads. Only seems to happen locally. -->
    <!-- <script src="http://code.jquery.com/jquery-1.6.2.min.js"></script> -->
  </head>
          
  <body>
    
    <h1>Test FaceOff Against Facebook SDK</h1>
    <div id="fb-root"></div>
    <script src="http://connect.facebook.net/en_US/all.js#appId=244374058939596&amp;xfbml=1"></script>

    <script src="http://code.jquery.com/jquery-1.6.2.min.js"></script>

    
    <fb:like href="google.com" send="true" width="450" show_faces="true" font=""> </fb:like>
    <br/>
    <fb:like href="google.com" send="true" width="450" show_faces="true" font=""> </fb:like>
  </body>
</html>
